<?xml version="1.0"?>
<!-- 
 		**********************************************************************************
 		National Amusements, Inc.			
		Project 		:	NAI_10_2014_40
		Author   		:	Ray Gambardella
		Date      		:	10/20/2014
		Request #	:	
		ASPNET		:	4.0
		Desc			:	
		**********************************************************************************
	-->

<configuration>
    <appSettings></appSettings>
    <connectionStrings>
        <add name="DataConn" connectionString="Server=NAISQL;Database=Intranet;Uid=naijobs;Pwd=naijobs;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
        <add name="NAISQL" connectionString="Server=NAISQL;Database=Intranet;Uid=naijobs;Pwd=naijobs;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
        <add name="NAISQL\UKDW" connectionString="Server=NAISQL\UKDW;Database=UKReporting;Uid=ukadmin;Pwd=ukadmin;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
        <add name="NAISQL1" connectionString="Server=NAISQL1;Database=as400;Uid=as400;Pwd=as400;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
        <add name="NAISCHED" connectionString="Server=NAISCHED;Database=master;Uid=sqljobs;Pwd=sqljobs;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
        <add name="PSSQL" connectionString="Server=PSSQL;Database=NAI_PSFIN;Uid=psdbo;Pwd=psdbo;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
        <add name="KRONOSDB" connectionString="Server=KRONOSDB;Database=wfc5;Integrated Security=True;" providerName="System.Data.SqlClient" />
        <add name="KRONOS-TEST" connectionString="Server=KRONOS-TEST;Database=wfc5;Integrated Security=True;" providerName="System.Data.SqlClient" />
        <add name="192.168.1.19" connectionString="Server=192.168.1.19;Database=loyalty;Uid=sa;Pwd=harrypotter;Min Pool Size=5;Max Pool Size=999;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
        <authentication mode="Windows" />
    </system.web>

</configuration>
